.works {
  height: $wrapper-height;
  text-align: center;

  @include mq(lg) {
    padding-bottom: 30px;
    height: auto;
    cursor: default;
    &__left {
      overflow: visible;
      width: 100%;
      height: auto;
      article:last-of-type {
        margin-bottom: 100px;
      }
      #more_btn,
      #close_btn {
        display: block;
        padding: 15px 0;
        border: 1px solid #000;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
    &__right {
      display: none;
    }
    &__contents {
      align-items: flex-start;
      flex-direction: column-reverse;
      margin-bottom: 100px;
      padding: 10px;
      height: auto;
      img {
        display: none;
      }
      a {
        display: block;
        img {
          display: block;
          margin: 0 0 15px;
          width: 100%;
          height: 100%;
        }
      }
      ul {
        width: 100%;
        li {
          a {
            display: block;
            margin-top: 10px;
            font-size: 1.4rem;
          }
          &:nth-child(n + 5) {
            display: block;
          }
        }
      }
      .works__many {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-left: 0px;
        padding: 0;
        width: 100%;
        a {
          margin-left: 10px;
          width: 100%;
          &:first-of-type {
            margin-left: 0;
          }
          img {
            margin: 0;
            width: 100%;
          }
        }
      }
    }
  }
  &__flex {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  &__left {
    overflow: scroll;
    width: 465px;
    height: calc(100vh - 80px - 60px - 3rem - 30px);

    @include scroll-none;
    a {
      display: none;
    }
    article:last-of-type {
      margin-bottom: 0;
    }
    span {
      font-size: 1.4rem;
    }
    #more_btn,
    #close_btn {
      display: none;
    }
  }
  &__right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 465px;
    height: calc(100vh - 80px - 60px - 3rem - 30px);
    opacity: 0;
    img {
      display: none;
    }
    a {
      display: block;
      cursor: zoom-in;
      img {
        display: block;
        width: 100%;
      }
    }

    ul {
      margin-top: 20px;
      list-style: none;
      text-align: left;
      li {
        line-height: 1.2em;
        h3 {
          margin-bottom: 0px;
          font-size: 1.8rem;
        }
        a {
          margin-top: 0px;
          font-size: 1rem;
          cursor: pointer;
        }
        &:nth-child(odd) {
          margin-bottom: 4px;
          font-size: 2rem;
        }
        &:nth-child(even) {
          margin-bottom: 20px;
          font-size: 1.4rem;
        }
      }
    }
    .works__many {
      display: flex;
      justify-content: space-between;
      margin-left: 0px;
      width: 465px;
      a {
        margin-left: 15px;
        width: auto;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
  &__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: $color-back;
    text-align: left;
    cursor: pointer;
    img {
      margin-left: 10px;
      width: 270px;
      height: 150px;
    }
    ul {
      width: 170px;
      list-style: none;
      li {
        line-height: 1.2em;
        a {
          display: none;
        }
        h3 {
          margin-bottom: 10px;
          font-size: 2rem;
        }
        &:nth-child(odd) {
          margin-bottom: 4px;
          font-size: 1.8rem;
        }
        &:nth-child(even) {
          margin-bottom: 20px;
          font-size: 1.2rem;
        }
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }
  &__many {
    display: flex;
    justify-content: space-between;
    width: 270px;
    img {
      margin-left: 0;
    }
    .origin {
      width: calc(96% / 3);
      height: 100%;
    }
    .english {
      width: calc(96% / 3);
      height: 50%;
    }
    .businessCard {
      width: 40%;
    }
  }
}
