.about {
  text-align: center;
  height: $wrapper-height;
  background-color: $color-back;

  &__flex {
    display: flex;
    height: calc(100% - 70px);
    > div {
    }
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    img {
      width: 300px;
      height: 300px;
    }
    p {
      margin-top: 30px;
      font-size: 3.2rem;
      font-weight: normal;
      &:last-child {
        margin-top: 10px;
        font-size: 1.6rem;
      }
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 480px;
    p {
      text-align: justify;
      margin-top: 20px;
      line-height: 1.2em;
      font-size: 1.4rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  @include mq(lg) {
    height: auto;
    padding-bottom: 30px;
    &__flex {
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-top: 20px;
      img {
        width: 180px;
        height: 180px;
      }
      p {
        margin-top: 20px;
        font-size: 2.8rem;
        &:last-child {
          font-size: 1.4rem;
        }
      }
    }
    &__right {
      width: 100%;
      margin-top: 30px;
      font-size: 1.4rem;
    }
  }
}
