.footer {
  width: 100%;
  height: 80px;
  margin-top: -80px;
  padding: 35px 0;
  box-shadow: 0px -3px 6px rgba($color: #000000, $alpha: 0.25);
  > div {
    display: flex;
    justify-content: flex-end;
    @include mq();
  }
  @include mq(lg) {
    margin-top: 0;
  }
}
