.skill {
  text-align: center;
  height: $wrapper-height;
  background-color: $color-back;
  &__flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    > div {
      margin-top: 30px;
      margin-right: 50px;
      width: 480px;
      &:last-child {
        margin-right: 0;
      }
      i {
        width: 180px;
        height: 180px;
        padding-top: 35px;
        font-size: 100px;
        border: 5px solid #707070;
        border-radius: 90px;
      }
      p {
        &:nth-child(2) {
          margin-top: 30px;
          font-size: 3rem;
        }
        &:last-child {
          text-align: left;
          margin-top: 18px;
          font-size: 1.6rem;
          line-height: 1.5em;
          span {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  @include mq(lg) {
    height: auto;
    padding-bottom: 30px;
    &__flex {
      flex-direction: column;
      > div {
        width: auto;
        margin-right: 0;
        margin-top: 30px;
        &:last-child {
          margin-top: 50px;
        }
        i {
          width: 150px;
          height: 150px;
          padding-top: 30px;
          font-size: 80px;
          border: 3px solid #707070;
          border-radius: 75px;
        }
      }
    }
  }
}
