.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px);
  h1 {
    font-size: 6.4rem;
    font-weight: normal;
  }
  p {
    margin-top: 10px;
    font-size: 3.2rem;
  }
  @include mq(lg) {
    h1 {
      font-size: 4.6rem;
    }
    p {
      font-size: 2.3rem;
    }
  }
}
